<!DOCTYPE html>
<html>

<head>
    <title>Hakkında</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>-<a target="_blank" href="https://sozluk.gov.tr">Türk Dil Kurumu türkçe sözlüğü</a> için fanmade alternatif sitedir.</p>
        <p>-Kelime anlamları ve örnek cümleler TDK tarafından belirlenenlerdir.</p>
    </div>
    
    {{>footer}}
</body>

</html>