<!DOCTYPE html>
<html>

<head>
    <title>Sözlük</title>
    <link rel="icon" href="/img/cloudsun.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p id="baslik">TDK sözlüğünde arama yapın:</p>

        <form>
            <input placeholder="Kelime giriniz">
            <button >Ara</button>
        </form>

        <p id="message-1"></p>
        <div id="anlamlar">

        </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>